@import url("https://fonts.cdnfonts.com/css/homer-simpson-revised");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/donuts.jpg");
  background-size: 33%;
  font-family: "Homer Simpson Revised", sans-serif;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper {
  width: 80vmin;
  padding: 3rem 1.5rem;
  background-color: #15161a;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 6px;
}

.logo {
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
  height: 24rem;
  margin-top: 1.75rem;
}

span {
  display: block;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  word-spacing: 0.5rem;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 2.5rem;
  opacity: 0;
}

blockquote {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  line-height: 2rem;
  margin-top: 1.75rem;
  opacity: 0;
}

button {
  display: block;
  background-color: #fde101;
  color: #15161a;
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 600;
  margin: 50px auto auto;
}

button:hover {
  background-color: #ff9800;
  color: #15161a;
  transition: all 0.3s ease-in-out;
}

.fade {
  opacity: 1;
  transition: opacity 1.5s;
}

@media (max-width: 768px) {
  .wrapper {
    width: 90vmin;
    padding: 2.5rem 1.25rem;
  }

  .image-container {
    height: 20rem;
  }

  span,
  blockquote {
    font-size: 1.5rem;
    margin-top: 1.875rem;
  }

  button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 2.5rem auto auto;
  }
}

@media (max-width: 480px) {
  body {
    background-image: url("./assets/donuts.jpg");
    background-size: 50%;
  }

  .wrapper {
    width: 90vmin;
    padding: 1.5rem 1rem;
  }

  .image-container {
    height: 13.75rem;
  }

  span,
  blockquote {
    font-size: 1.5rem;
    margin-top: 1.25rem;
  }

  button {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    margin: 2rem auto auto;
  }

  .image-container img {
    max-width: auto;
    height: auto;
  }
}